<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <style>
        body{
            margin: 0 auto;
            width: 1000px;
        }
        #div1{
            margin: 0 auto;
            width:600px;
        }
        table tr th,
        table tr td {
            border: 1px solid gray;
            text-align: center;
            height: 40px;
        }
        table {
            border-collapse: collapse;
            width: 600px;
        }
    </style>
</head>
<body>
<div id="div1">
    <table>
        <thead>
        <tr>
            <td><input type="checkbox" @click="allPick(),checkModel()" v-model="allp">全选</td>
            <td>商品序号</td>
            <td>商品编号</td>
            <td>商品名称</td>
            <td>商品数量</td>
            <td>商品单价</td>
            <td>移除</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in list" :key="index">
            <td><input type="checkbox":value="item.id" v-model="checkBoxModel" @click.stop="pickOne(index),checkPick()"></td>
            <td>{{item.num}}</td>
            <td>{{item.port}}</td>
            <td>{{item.name}}</td>
            <td>
                <button @click="doClick(index)">+</button>{{item.count}}
                <button @click="handleClick(index)">-</button>
            </td>
            <td>{{item.price}}</td>
            <td><button @click="delClick(index)">删除</button></td>
        </tr>
        <tr>
            <td>总计:{{all}}元</td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    new Vue({
        el: "#div1",
        data() {
            return{
                list:[{num:'1',port:'0001',name:'iphone',price:'6188',count:'0'},
                    {num:'2',port:'0002',name:'华为p30',price:'5436',count:'0'},
                    {num:'3',port:'0003',name:'小米RedmiBook',price:'4999',count:'0'},
                    {num:'4',port:'0004',name:'华为畅享9e',price:'3980',count:'1'}],
                all:0,
                checkBoxModel: [],
                allp: false
            }
        },
        methods: {
            doClick(index) {
                this.list[index].count++;
                this.price1;
            },
            handleClick(index) {
                this.list[index].count--;
                this.price1;
            },
            delClick(index) {
                this.list.splice(index, 1);
                this.price1;
            },
            allPick: function () {
                var _this = this;
                if (_this.allp) {
                    _this.checkBoxModel = [];
                    _this.allp = false;
                } else {
                    _this.checkBoxModel = [];
                    _this.list.forEach(function (item) {
                        _this.checkBoxModel.push(item.id);
                    });
                    _this.allp = true;
                }
            },
            pickOne: function (index) {
                if (this.list[index].isBuy) {
                    this.list[index].isBuy = false;
                } else {
                    this.list[index].isBuy = true;
                }
            },
            checkPick: function () {
                _this = this;
                var sumPic = 0;
                for (var i = 0; i < _this.list.length; i++) {
                    if (_this.list[i].isBuy) {
                        sumPic++;
                    }
                }
                if (sumPic == _this.list.length) {
                    _this.allp = true;
                } else {
                    _this.allp = false;
                }
            },
            checkModel: function () {
                _this = this;
                if (_this.checkBoxModel.length) {
                    newArr = _this.checkBoxModel.concat();
                    console.log(newArr);
                    for (var i = 0; i < _this.checkBoxModel.length; i++) {
                        newone = newArr.shift().toString();
                        //console.log(newone);
                        _this.list[newone - 1].isBuy = true;
                        //console.log(newone);
                        // console.log(_this.list[newone-1]);
                    }
                } else {
                    newArr = _this.checkBoxModel.concat();
                    //console.log(newArr);
                    for (var i = 0; i < _this.list.length; i++) {
                        _this.list[i].isBuy = false;
                    }
                }
            },
        },
        computed:{
            price1(){
                var allPrice=0;
                this.list.forEach(function (item,index) {
                    allPrice+=item.count*item.price;
                })
                this.all=parseFloat(allPrice);
            }
        },
        created:function () {
            console.log(this.price1);
        }

    })
</script>
</body>
</html>